<body>
<div class="address_div">
</div>
<script>
    $(function () {
        loadClassify();
        $(".address_div").on("click", ".address_div_query_button", function () {
            var $this = $(this);
            var id = $this.attr("data_id");
            _$ajaxPostJSON(
                path_test_address_findAddressListByClassifyId,
                {"classifyId": id},
                function (response) {
                    _$analysisJsonSuccessResponse(response, function (data) {
                         $this.parent().find(".address_dd_div").remove();
                        _$traversalList(data, function (list) {
                            var $dd = createAddressDd(list.id, list.test_address_list_account, list.test_address_list_password,list.test_address_list_url);
                            $this.parent().append($dd);
                        });
                    });
                }
            );
        });
        $(".address_div").on("click",".address_div_copy_button",function () {
            _$copyText(".address_div .address_div_copy_button");
        });
    });

    function createAddressDd(listId, account, password, url) {
        if(_$isNullNonZero(account)){
            account = "无";
        }
        if(_$isNullNonZero(password)){
            password = "无";
        }
        var number = new Date().getTime();
        var accountNumber ="account"+ number + "" + listId + "account";
        number =new Date().getTime();
        var passwordNumber ="password"+ number + "" + listId + "password";
        var dd = '<div class="address_dd_div">' +
            ' <dd>用户名：<i id="' + accountNumber + '">' + account + '</i>' +
            '  <button class="address_div_copy_button" data-clipboard-target="#' + accountNumber + '">复制</button>' +
            '  </dd>' +
            '  <dd>密码：<i id="' + passwordNumber + '">' + password + '</i>' +
            ' <button class="address_div_copy_button" data-clipboard-target="#' + passwordNumber + '">复制</button>' +
            '  </dd>' +
            '  <dd>地址：<a class="superChain" target="_blank" href="' + url + '">' + url + '</a></dd>' +
            ' </div>';
        return $(dd);
    }

    function loadClassify() {
        _$ajaxGetJSON(
            path_test_address_findAllClassify,
            "",
            function (response) {
                _$analysisJsonSuccessResponse(response, function (data) {
                    for (var i = 0; i < data.length; i++) {
                        var test_address_name = data[i].test_address_name;
                        $(".address_div").append("<h1>" + test_address_name + "</h1>");
                        _$traversalList(data[i].testAddressClassify, function (classifys) {
                            $(".address_div").append(
                                createTestAddressNameClassify(classifys.test_address_classify_name, classifys.classifyId)
                            );
                            // $(".address_div dl:last").append()
                        });
                    }
                })
            }, null, $("body")
        );
    }

    function createTestAddressNameClassify(test_address_name, id) {
        var dl = '<dl>' +
            '<dt><h3>' + test_address_name + '</h3><button class="address_div_query_button" data_id ="' + id + '">查询</button></dt>' +
            '</dl>';
        var $dl = $(dl);
        $dl.data(data_test_address_classifyId, id);
        return $(dl);
    }

</script>
</body>