<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:beans="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:lang="http://www.springframework.org/schema/lang"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.2.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.2.xsd
		http://www.springframework.org/schema/lang http://www.springframework.org/schema/tx/spring-lang-3.2.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
    <import resource="classpath:spring/dao/spring-cdn.xml"/>
    <import resource="classpath:spring/dao/spring-bean.xml"/>
    <import resource="classpath:spring/dao/spring-ad.xml"/>
    <import resource="classpath:spring/dao/spring-book-resource-centre.xml"/>

    <bean id="dbcp" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="#{jdbcConfig.driverClassName}"/>
        <property name="url" value="#{jdbcConfig.url}"/>
        <property name="username" value="#{jdbcConfig.userName}"/>
        <property name="password" value="#{jdbcConfig.password}"/>
        <property name="initialSize" value="#{jdbcConfig.initialSize}"/>
        <property name="maxTotal" value="#{jdbcConfig.maxTotal}"/>
        <property name="maxWaitMillis" value="#{jdbcConfig.maxWaitMillis}"/>
        <property name="maxIdle" value="#{jdbcConfig.maxIdle}"/>
        <property name="minIdle" value="#{jdbcConfig.minIdle}"/>
    </bean>
    <util:properties id="jdbcConfig" location="classpath:db/jdbc.properties"/>
    <!--    &lt;!&ndash;    配置SqlSessionFactory&ndash;&gt;-->
    <bean id="ssf" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dbcp"/>
        <property name="mapperLocations" value="classpath:mapper/*.xml"/>
        <property name="configLocation" value="classpath:db/mybatis-config.xml"/>
    </bean>
    <!--    配置mapper扫描-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.testing.center.web.dao.dao"/>
    </bean>
</beans>








