<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.testing.center.dao.TestAddressClassifyDaoMapper">
    <select id="findTestAddressClassify" resultMap="test_address_classify">
        SELECT address.test_address_name,classify.id AS classifyId, classify.test_address_classify_name  FROM test_address_classify AS classify INNER JOIN test_address AS address
        ON classify.test_address_id = address.id
        WHERE classify.test_address_classify_status=1 AND address.test_address_status=1
        ORDER BY classify.test_address_id;
    </select>
    <resultMap id="test_address_classify" type="map">
        <result column="test_address_name" property="test_address_name"/>
        <collection property="testAddressClassify" javaType="list" ofType="map">
            <result column="classifyId" property="classifyId"/>
            <result column="test_address_classify_name" property="test_address_classify_name"/>
        </collection>
    </resultMap>
</mapper>






