#tools_div_root {
    width: 92%;
    padding-top: 10px;
    height: 100%;
    margin: 0 auto;
}


.tool_div {
    text-align: left;
    display: inline-block;
    border: var(--theme-colors) 1px solid;
    width: 17%;
    height: 170px;
    /*margin: 10px 10px 10px 2px;*/
    margin: 10px 0.5%;
    padding: 10px 10px 10px 10px;
    /*设置边框为圆角*/
    border-radius: 20px;
    /* 溢出时的处理方式 */
    overflow: auto;
    float: left;
    cursor: pointer;
    z-index: 1000;
}

.tools_div_img {
    height: 35%;
    width: 20%;
    float: left;
    text-align: center;
    line-height: 35%;
}

.tools_div_img img {
    height: 80%;
    width: 100%;
    margin-bottom: 12%;
    margin-top: 8%;
}

.tool_name {
    float: right;
    display: inline-block;
    width: 70%;
    height: 40%;
}


.tool_name_navigation {
    float: right;
    font-size: 12px;
    display: block;
}

.clear_float {
    clear: right;
}

/*分割线*/
.too_halving_div {
    height: 1px;
    background-color: rgba(220, 220, 2200, 0.8);
}

/*.tool_name_div{*/
/*    clear: right;*/
/*}*/

.tool_desc {
    height: 56%;
    padding: 3px 0;
}

.tools_div_root_clear {
    clear: left;
}

#tools_title {
    color: var(--theme-colors);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}