<body>
<div class="cxb_cdn_form_div">
    <div class="public-cxb-input-environment-cdn"></div>
    <h3>cxb接口:</h3>
    <div class="CXB_PATH_URL_GETVOLUME_div">

    </div>
    <h3>cdn目录<span style="color: var(--theme-colors)">（文件内容较大，加载时间长，请耐心等待）</span>:</h3>
    <div class="CXB_PATH_URL_GETCDNVOLUME_div"></div>
</div>
<script>
    _$loadHtmlGet(STATIC_HTML_CXB_PUBLIC_CXB_INPUT_ENVIRONMENT, function (html) {
        $(".public-cxb-input-environment-cdn").html(html);
        _PshowBookId();
        _PshowCnid();
        _PshowEnvironment();
        $(function () {
            _Psubmit(function () {
                    var dataParameters = _PgetShowParameterData();
                    if (dataParameters === false) return;
                    _$empty(".CXB_PATH_URL_GETVOLUME_div");
                    _$empty(".CXB_PATH_URL_GETCDNVOLUME_div");
                    //    获取创新版接口
                    _$ajaxPostJSON(
                        CXB_PATH_URL_GETVOLUME,
                        dataParameters,
                        function (response) {
                            _$analysisJsonSuccessResponse(response, function (data) {
                                $(".CXB_PATH_URL_GETVOLUME_div").append(_jFormatJsonProcess(data));
                                getCdnVolume(data.data, dataParameters.environment);
                            });
                        }, null, $(".public_cxb_parameter_div_table_tr_submit"))
                }
            );
        });

        function getCdnVolume(data, environment) {
            if (!_$isJsonObject(data)) {
                $(".CXB_PATH_URL_GETCDNVOLUME_div").text("目录不在cdn");
                return;
            }
            var s3exist = data.s3exist;
            var bookId = data.bookId;
            var version = data.version;
            var cdnUrl = data.cdnUrl;
            if (s3exist === 1) {
                _$ajaxPostJSON(
                    CXB_PATH_URL_GETCDNVOLUME,
                    {"bookId": bookId, "cdnUrl": cdnUrl, "version": version, "environment": environment},
                    function (response) {
                        _$toastText("文件内容较大，加载时间长，请耐心等待");
                        $(".CXB_PATH_URL_GETCDNVOLUME_div").append(_jFormatJsonProcess(response));
                    }
                );
            } else {
                $(".CXB_PATH_URL_GETCDNVOLUME_div").text("目录不在cdn");
            }
        }

    });

</script>
</body>
