<body>
<div class="cxb_cdn_form_div">
    <div class="public-cxb-input-environment-cdn"></div>
    <div class="cxb_form_div_form_subimt_div">
        <button id="cxb_form_div_form_subimt_button">查询</button>
    </div>
    <h3>cxb接口:</h3>
    <div class="CXB_PATH_URL_GETVOLUME_div">

    </div>
</div>
<script>
    _$loadHtmlGet(STATIC_HTML_CXB_PUBLIC_CXB_INPUT_ENVIRONMENT, function (html) {
        $(".public-cxb-input-environment-cdn").html(html);
        _PshowBookId();
        _PshowCnid();
        _PshowEnvironment();
        $(function () {
            _Psubmit(function () {
                    var data = _PgetShowParameterData();
                    console.info(data);
                    if (data === false) return;
                    _$empty(".CXB_PATH_URL_GETVOLUME_div");
                    //    获取创新版接口
                    _$ajaxPostJSON(
                        CXB_PATH_URL_GETVOLUME,
                        data,
                        function (response) {
                            _$analysisJsonSuccessResponse(response, function (data) {
                                $(".CXB_PATH_URL_GETVOLUME_div").append(formatJson(data));
                                // _$traversalJSON(data, function (key, values) {
                                //     var p = "<p>" +
                                //         key + "<span class='cxb_form_div_p_halvingline'>:</span>" + values +
                                //         "</p>";
                                //     $(".CXB_PATH_URL_GETVOLUME_div").append($(p));
                            });
                        })
                }
            );
        });
    });

</script>
</body>
