<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
    <meta http-equiv="Expires" content="-1">
    <title>测试中心-在线工具</title>
    <script src="static/scripts/base-values.js"></script>
    <script src="static/scripts/js-util.js"></script>
    <script>
        var colos = ["#00a0e9", "#770088", "#aa00aa", "chocolate"];
        var rand = _$randomNum(colos.length);
        _$setCssPropertyValue("--theme-colors", colos[rand]);
    </script>
    <script src="static/scripts/tool.js"></script>
    <link rel="icon" href="static/image/logo.png" type="image/x-icon"/>
    <link rel="stylesheet" href="static/css/html.css">
    <link rel="stylesheet" href="static/css/theme.css">
    <link rel="stylesheet" href="static/css/title-css.css">
    <link rel="stylesheet" href="static/css/super-chain.css">
    <link rel="stylesheet" href="static/css/status_bar.css">
    <link rel="stylesheet" href="static/css/tool.css">
    <link rel="stylesheet" href="static/css/navigation.css">
    　　　　
</head>
<body>
<span class="testing-center-test-home-theme" style="color: var(--theme-colors)"></span>
<div id="public_div">
    <!--    <iframe src="public-page.html" width="100%" height="100%" frameborder="no" ></iframe>-->
    <script>$("#public_div").load("static/public-html/public-page.html", function () {
        $(function () {
            var id = setInterval(function () {
                if ($("#navigation_ul_tool").data("loadStatus") === true) {
                    $("#navigation_select_all").click();
                    clearInterval(id);
                }
            }, 100);
        });
        // $.getScript("static/js/navigation.js", function () {
        //     //依赖导航栏处理成功后执行动态加载所有元素
        //
        // });
    });
    </script>
</div>

<div id="tools_div_root">
    <div id="tools">
        <!--    <div class="tools_div">-->
        <!--        <div class="tool_name">-->
        <!--            <span class="tool_name_navigation"></span>-->
        <!--        </div>-->
        <!--        <div class="too_halving_div"></div>-->
        <!--        <div class="tool_desc"></div>-->
        <!--    </div>-->

    </div>
    <div class="tools_div_root_clear"></div>
</div>
<div class="copy" style="text-align: center;line-height: 25px;height: 25px;font-weight: bolder;color: var(--theme-colors);margin: 10px 0" >
    <p>
        版本个人所有，违者必究。京ICP证testing-center号 公安未备案
    </p>
</div>
</body>
</html>