<body>
<div class="search_book_center_div">
</div>
<div class="search_book_center_div_result"></div>
<script>
    $(function () {
        _$loadHtmlGet(STATIC_HTML_CXB_PUBLIC_CXB_INPUT_ENVIRONMENT, function (html) {
            $(".search_book_center_div").html(html);
            _PshowBookId()
            _PshowEnvironment()
            _Psubmit(function () {
                var dataParameters = _PgetShowParameterData();
                console.log(dataParameters['environment'])
                if (dataParameters['environment'] !== 0) {
                    alert("仅支持QA环境");
                    return false;
                }
                _$ajaxPostJSON(
                    CXB_PATH_URL_BOOKCENTER_SEARCH_BOOK,
                    dataParameters,
                    function (response) {
                        _$analysisJsonSuccessResponse(response, function (data) {
                            $(".search_book_center_div_result").html(_jFormatJsonProcess(data))
                        })
                    }
                )
            })
        })
    })
</script>
</body>