* {
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.reqyured_fields {
    color: red;
    font-weight: bold;
}

button, input[type="radio"] {
    cursor: pointer;
}

button:hover {
    border-color: var(--theme-colors);
}

.notice_for_use {
    color: var(--theme-colors);
    margin-bottom: 10px;
}

.notice_for_use p {
    text-indent: 2em;
}

.notice_for_use_deepen {
    font-weight: bolder;
    /*下划线*/
    text-decoration: underline;
}

input[type="text"] {
    padding-left: 2px;
}

input[type="text"]:focus {
    outline: var(--theme-colors) 1px solid;
}